:root {
    --primary-color: #ED661F;
}

* {
    padding: 0;
    margin: 0;
    box-shadow: border-box;
    font-family: 'Poppins', 'Inter';
}

body {
    margin: 0px 70px;
    font-family: 'Poppins', 'Inter';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 98%;
    display: flex;
    height: 5rem;
    padding: 0 2rem;
    background-color: black;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav-content {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.nav-lists {
    align-items: center;
    height: 100%;
    display: flex;
}

.nav-list {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-link {
    padding: 0 1rem;
    height: 100%;
    display: flex;
    font-weight: 600;
    color: white;
    align-items: center;
    margin: 0rem 1rem;
    justify-content: center;
    position: relative;
}

.nav-link:hover::before,
.nav-link.active::before {
    bottom: 10%;
    opacity: 1;
}

.nav-link::before {
    content: "";
    height: 5px;
    width: 100%;
    opacity: 0;
    transition: all 200ms ease-in-out;
    bottom: 0;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -40%;
}

.nav-lists.other .nav-list:last-child .nav-link {
    background-color: var(--primary-color);
    height: auto;
    padding: 1rem;
}

.nav-lists.other .nav-list:first-child .nav-link:hover::before {
    bottom: -50%;
}

.nav-lists.other .nav-list:last-child .nav-link:hover::before {
    bottom: -50%;
}

.dashboard {
    background-image: url(./assets/Images/image1.png);
    background-size: contain;
    height: 60vh;
}

.dashboard p {
    font-size: large;
    padding: 4px;
    margin-left: 40px;
}

.dashboard h1 {
    margin-left: 40px;
}

#buying {
    padding: 0px;
    margin-top: 60px;
    margin-left: 40px;
}

#explore {
    margin-top: -200px;
    margin-left: 40px;
}



.exist-embedded-image img {
    height: 300px;
    width: 600px;
    margin-left: 1000px;
    margin-top: -300px;
}
.exist {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 30px;
}
.exist-content{
    margin-top: 100px;
    margin-left: 50px;
}
.exist-content p{
    padding: 2px;
}
.exist-content h1{
    padding-bottom: 60px;
}
.exist-link-active:after { /* this is the border */
    content:"";
    display:block;
    width: 3em;
    max-width:50%;
    border-bottom: 0.2em solid red;
    margin-top: 10px;
}
.nav-link::before {
    content: "";
    height: 5px;
    width: 100%;
    opacity: 0;
    transition: all 200ms ease-in-out;
    bottom: 0;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -40%;
}
.exist-image img {
    height: 400px;
    width: 600px;
}


.categories{
    padding-top: 20px;
    padding-bottom: 50px;
}
.categories h1{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.categories p{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
hr{ /* this is the border */
    content:"";   
    width: 5em;
    max-width:60%;
    border-bottom: 0.3em solid red;
    border-top: 0.1em solid red;
    margin-top: 0px;  
    margin-left: 780px;
    margin-bottom: 20px; 
    background-color: var(--primary-color);
}



.popular{
    margin-bottom: 70px;
}
.popular h1{
    margin-left: 70px;
    padding-bottom: 30px;
}
.popular-link-active:after { /* this is the border */
    content:"";
    display:block;
    width: 3em;
    max-width:50%;
    border-bottom: 0.2em solid red;
    margin-top: 10px;
}
.column {
    float: left;
    width: 22%;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
  }
.row {
    margin: 0 -5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
}
.card img{
    height: 200px;
    width: 200px;
}
.card h3{
    margin-bottom: 10px;
    margin-top: 10px;
}
.card p{
    margin-bottom: 5px;
}




.newest-link-active:after { /* this is the border */
    content:"";
    display:block;
    width: 3em;
    max-width:50%;
    border-bottom: 0.2em solid red;
    margin-top: 10px;
}
.newest h1{
    margin-left: 70px;
    padding-bottom: 30px;
}
.newest{
    margin-bottom: 150px;
}
.see-all{
    float: right;
    margin-right: 200px;
    margin-top: 50px;
}
.see-all-link-active:after { /* this is the border */
    content:"";
    display:block;
    width: 3em;
    max-width:50%;
    border-bottom: 0.2em solid red;
    margin-top: 10px;
}

.horizontal-line{
    height: 15px;
    width: 200%;
    margin-left: 100px;
    margin-bottom: 50px;
    background-color: gray;
    color: gray;
    border-bottom: 0.3em solid gray;
    border-top: 0.1em solid gray;
}

.customers{
    height: 500px;
    width: 600px;
}
.row{
    display: flex;
    justify-content: space-around;
}
.customers > card{
    width: 500px;
}
.checked {
    color: #ED661F;
  }
.unchecked{
    color: gray;
}





.read-more{
    float: right;
}
.read-more-link-active:after { /* this is the border */
    content:"";
    display:block;
    width: 3em;
    max-width:50%;
    border-bottom: 0.2em solid red;
    margin-top: 10px;
}




.footer-row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.footer {
    background-color: black;
    padding: 70px 50px 70px 200px;
}

.container {
    background-color: black;
}

.footer-row {
    background-color: black;
}

.footer-col {
    background-color: black;
    width: 20%;
    padding: 0 30px;
    /* margin-right: 10vh; */
}

.footer-col h1 {

    color: #f1f1f1;
    padding: 5px;
    font-size: xx-large;
    font-family: 'Oleo Script';
    background-color: black;
}

.footer-col ul {
    background-color: black;
}

.footer-col li h4 {
    background-color: black;
    color: #f1f1f1;
}

.footer-col li {
    background-color: black;
    color: #f1f1f1;
    padding: 5px;
}

.footer-col p {
    background-color: black;
    color: #f1f1f1;
    padding: 3px;
    font-size: 18px;
}

#agri-footer {
    margin-right: 60px;
}