:root{
    --primary-color: #ED661F;
}
*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    width: 100%;
    display: flex;
    height: 5rem;
    padding:0 2rem;
    background-color: black;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.nav-content{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.nav-lists{
    align-items: center;
    height: 100%;
    display: flex;
}
.nav-list{
    display: flex;
    height: 100%;
    align-items: center;
}
.nav-link{
    padding: 0 1rem;
    height: 100%;
    display: flex;
    font-weight: 600;
    color: white;
    align-items: center;
    margin: 0rem 1rem;
    justify-content: center;
    position: relative;
}
.nav-link:hover::before,
.nav-link.active::before{
    bottom: 10%;
    opacity: 1;
}
.nav-link::before{
    content: "";
    height: 5px;
    width: 100%;
    opacity: 0;
    transition: all 200ms ease-in-out;
    bottom: 0;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -40%;
}
.nav-lists.other .nav-list:last-child .nav-link{
    background-color: var(--primary-color);
    height: auto;
    padding: 1rem;
}

.nav-lists.other .nav-list:first-child .nav-link:hover::before{
    bottom: -50%;
}

.nav-lists.other .nav-list:last-child .nav-link:hover::before{
    bottom: -50%;
}

.dash{
    background: url(./assets/Images/image1.png);
    background-color: blue;
}





.footer-row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}

.footer{
    background-color: black;
    padding: 70px 50px 70px 200px;
}
.container{
    background-color: black;
}
.footer-row{
    background-color: black;
}
.footer-col{
    background-color: black;
    width: 20%;
    padding: 0 30px;
    /* margin-right: 10vh; */
}

.footer-col h1{

    color: #f1f1f1; 
    padding: 5px; 
    font-size:xx-large; 
    font-family: 'Oleo Script'; 
    background-color: black;
}
.footer-col ul{
    background-color: black;
}
.footer-col li h4{
    background-color: black;
    color: #f1f1f1;
}
.footer-col li{
    background-color: black;
    color: #f1f1f1;
    padding: 5px;
}
.footer-col p{
    background-color: black;
    color: #f1f1f1;
    padding: 3px;
    font-size: 18px;
}
#agri-footer{
    margin-right: 60px;
}   
